{% extends 'laboratorio/base.html' %}
{% load staticfiles %}
    <title>Eliminar proyecto</title>

{% block header_text %}

{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h1 class="text-center" style="color:#fed136">Eliminar Proyecto</h1>
            <form class="form-horizontal" method="POST"  action="{%url 'laboratorio:proyectos'%}" >
            {%csrf_token%}
                <h2>¿Desea eliminar el Proyecto {{proyecto.nombre}}?</h2>
                <div class="col-sm-offset-4 col-sm-10">
                    <input class="btn btn-danger" type="submit"  value="Eliminar"/>
                    <input class="btn btn-default" type="button"  value="Regresar"/>
                </div>
            </form>
        </div>
    </section>
