
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de proyecto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../static/js/ProjectController.js"></script>
    <script type="application/javascript">
        $("body").ready(function () {
             $.getJSON("{%url 'laboratorio:patrocinadores'%}").done(showSponsors);
        });
    </script>
</head>
<body>
<form method="POST"  action="{%url 'laboratorio:crearProyecto'%}" >
{%csrf_token%}
    <div>
          <label for="nombre">Titulo: </label>
          <input type="text" name="nombre" id="nombre" value=""/>
    </div>
    <div>
          <label for="fechaInicio">Fecha de inicio: </label>
          <input type="date" name="fechaInicio" id="fechaInicio" value=""/>
    </div>
    <div>
          <label for="fechaFinal">Fecha de finalización: </label>
          <input type="date" name="fechaFinal" id="fechaFinal" value=""/>
    </div>
    <div>
          <label for="patrocinador">Patrocinador: </label>
        <select name="patrocinador" id="selectPatrocinador">
          <option value="-1">Seleccione un patrocinador</option>
        </select>
    </div>
    <div>
          <label for="avance">Avance: </label>
          <input type="number" name="avance" id="avance" value=""/>
    </div>
    <div>
          <label for="prioridad">Prioridad: </label>
          <input type="number" name="prioridad" id="prioridad" value=""/>
    </div>
    <div>
          <label for="descripcion">Descripción: </label>
        <textarea name="descripcion"   cols="100" rows="5" id="descripcion"> </textarea>
    </div>

    <input type="submit"  value="Guardar"/>
</form>
</body>
</html>