{% extends 'laboratorio/base.html' %}
{% load staticfiles %}
{% block header_text %}

{% endblock %}

{% block content %}
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
            <a href="{% url 'laboratorio:agregarProyecto' %}" class="portfolio-link" data-toggle="modal"> agregar proyecto</a>
                <div class="datagrid">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th><th>Avance</th><th>Estado</th><th>Prioridad</th><th>Fecha Inicio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="5"><div id="paging"><ul><li><a href="#"><span>Previous</span></a></li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>Next</span></a></li></ul></div></td>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% if proyectos and proyectos.count > 0 %}
                            {%for proyecto in proyectos%}
                                <tr class="alt">
                                     <td>{{ proyecto.nombre }} </td>
                                     <td>{{ proyecto.avance }}</td>
                                     <td>{{ proyecto.estado }}</td>
                                     <td>{{ proyecto.prioridad }}</td>
                                     <td>{{ proyecto.fechaInicio }}</td>
                                </tr>
                            {% endfor %}
                        {%  else %}
                            <h1>No se han encontrado proyectos</h1>
                        {%  endif %}
                        </tbody>
                    </table>
                </div>
             </div>
         </div>
    </section>
{% endblock %}
