{% extends 'laboratorio/base.html' %}
{% load staticfiles %}
{% block header_text %}
    <script
   		   src="https://code.jquery.com/jquery-3.2.1.js"
   		   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
   		   crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

    <link href="{% static 'css/alertify.css' %}" rel="stylesheet">
    <link href="{% static 'css/alertify.rtl.css' %}" rel="stylesheet">
    <script src="{% static 'js/alertify.js'%} "></script>
    <script src="{% static 'js/moment.js'%} "></script>
    <script src="{% static 'js/Laboratory/ExperimentController.js'%} "></script>
    <script type="application/javascript">
        var urlEdit = "{% url 'laboratorio:editarExperimento' id=0%}";
        var urlAll = "{% url 'laboratorio:filtrarExperimentos' %}" + "?proyecto={{idProy}}";
        var urlDetails = "{% url 'laboratorio:detallarExperimento'  id=0%}";
        var urlStartExperiment = "{% url 'laboratorio:startExperiment'  id=0%}";
        $(document).ready(function () {
            showAllExperiments(urlAll,urlEdit,urlDetails, urlStartExperiment);
        });
    </script>
{% endblock %}
{% block content %}
    <section id="portfolio" >
        <div class="container">
            <h1 class="text-center" style="color:#fed136">Proyecto: {{nombreProyecto}}</h1>
            <h2 class="text-center" style="color:#fed136">Experimentos</h2>
            <a href="{% url 'laboratorio:agregarExperimento' %}" class="btn btn-success btn-round img-crear"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="row">

            </div>
            <div class="row">
                <div class="datagrid ">
                    <table id="projects" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Fecha Inicio</th>
                                <th>Proyecto</th>
                                <th>Responsable</th>
                                <th>Resultado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
             </div>
         </div>
    </section>
{% endblock %}
